{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <legend>{{ 'Manage warning'|trans }}</legend>

                    <a href="{{ path('admin_warning_index') }}"><i class="fa fa-long-arrow-left"></i> {{ 'Back to summary'|trans }}</a>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-warning">{{ button_label|default('Save warning') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
