{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <legend>{{ 'Warning management'|trans }} <a class="btn btn-success pull-right"
                                           href="{{ path('admin_warning_create') }}"><i
                            class="fa fa-plus"></i> {{ 'Add warning'|trans }}</a></legend>
            {#            <small class="help-text">{{ 'Here you can manage your categories or sections that forums will be added to'|trans }}</small>#}
            <hr>
            <div class="card">
            <table class="table data-table table-hover table-outline table-vcenter text-nowrap card-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'User'|trans }}</th>
                    <th>{{ 'Percentage'|trans }}</th>
                    <th>{{ 'Expires'|trans }}</th>
                    <th>{{ 'Created'|trans }}</th>
                    <th>{{ 'Reason'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for warning in warnings %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ warning.receiver.name }}</td>
                        <td>{{ warning.percentage }}%</td>
                        <td>{{ warning.expires|date('d-m-Y H:i') }}</td>
                        <td>{{ warning.created|date('d-m-Y H:i') }}</td>
                        <td>{{ warning.reason }}</td>
                        <td><a class="btn btn-warning btn-sm" href="{{ path('admin_warning_edit', {warning: warning.id}) }}"><i class="fa fa-edit"></i></a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
